body {
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color:wheat; /* Light grey background */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;}
  .faq-container {
   width: 80%;
    max-width: 800px;
    margin: 50px auto;
  }
  h1 {
    text-align: center;
    color:seagreen;
  }
.faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid gray; /* Border between FAQ items */
  padding-bottom: 20px;
}
h2 {
  color:blue;
  text-align: center;
}
p {
  color:brown;
  text-align: justify;
}